useDynLib(L0Learn)
importFrom(Rcpp, evalCpp)
importFrom(methods, as)
import(Matrix)
S3method(coef,L0Learn)
S3method(plot,L0Learn)
S3method(predict,L0Learn)
S3method(print,L0Learn)
export(L0Learn.cvfit)
export(L0Learn.fit)
